In [1]:
import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

<h3>Preprocessing</h3>

In [2]:
hangover_df = pd.read_csv('./train-embedding/hangover.csv', header=None)
hangover_df['target'] = 1
normal_df   = pd.read_csv('./train-embedding/normal.csv', header=None)
normal_df['target'] = 0
df = pd.concat([hangover_df, normal_df])
df = shuffle(df)

msk = np.random.rand(len(df)) <= 0.7
train_df = df[msk]
test_df = df[~msk]

In [3]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,target
68,-0.084911,-0.009270,0.009546,0.115164,-0.085489,0.063875,-0.010310,0.003730,0.119251,-0.044280,...,0.048277,0.074416,-0.028843,0.021439,0.072303,0.037443,0.099242,0.124574,0.151598,0
9,0.029922,0.089255,-0.243156,-0.047181,0.063658,0.054530,-0.014586,-0.015137,-0.059696,0.004668,...,0.010683,0.021390,0.120039,0.293659,-0.045275,-0.003520,-0.094021,0.028207,-0.064112,1
2,-0.008513,0.009762,0.087898,-0.004634,-0.048179,-0.045477,-0.058388,0.022197,-0.093591,0.010947,...,-0.031885,-0.063351,0.033514,-0.005670,0.036688,0.102517,0.063446,0.099328,0.065341,1
22,-0.122091,0.059915,0.211970,0.029135,0.121371,0.114811,-0.066033,-0.100127,0.026606,-0.006847,...,0.044293,0.115218,0.014730,0.039876,-0.051446,-0.028857,0.157869,0.020787,-0.076193,1
41,-0.116346,0.129844,-0.046008,0.018052,0.051656,0.114860,-0.029000,-0.056266,0.142032,-0.004645,...,0.196352,0.174074,-0.055549,-0.016778,0.084412,-0.014488,0.059498,0.069545,0.095065,1
104,0.092431,0.127335,-0.090396,-0.020314,-0.004240,0.086157,0.021442,-0.064974,-0.176297,0.083041,...,0.052011,0.009385,-0.058835,0.143008,-0.016298,-0.002564,0.004624,0.085725,0.056257,0
39,0.057399,0.042595,-0.123085,0.064893,0.047942,0.163313,-0.021558,-0.033434,-0.006772,-0.012188,...,0.145922,0.046446,-0.015693,-0.032261,-0.010402,0.082848,-0.013524,0.093689,0.191289,0
7,0.037024,0.012872,-0.093129,-0.009214,0.124501,0.148940,-0.012864,-0.092630,-0.147442,0.133582,...,0.077882,0.076548,-0.117338,0.040206,0.012500,0.002478,-0.010784,0.060028,0.116780,0
83,0.068440,0.060899,-0.150618,-0.057505,0.155748,0.092625,-0.000968,-0.156866,-0.078063,0.080768,...,0.039745,0.013847,-0.040547,0.097009,0.073186,-0.061799,0.033977,0.000801,-0.041890,1
71,0.079658,0.145033,-0.069509,0.135625,-0.032015,0.163056,-0.016323,-0.073199,0.026474,0.012275,...,0.106065,0.034920,-0.080614,-0.053939,0.030372,0.109096,0.055937,0.145811,0.127022,0

In [4]:
train = {'x': train_df.drop('target', axis=1), 'y': train_df['target']}
test  = {'x': test_df.drop('target', axis=1), 'y': test_df['target']}

<h3>Linear Model</h3>

In [5]:
model = linear_model.Ridge(alpha=0.1, random_state=1)
model.fit(train['x'], train['y'])

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=1, solver='auto', tol=0.001)

In [6]:
train['pred'] = model.predict(train['x'])
test['pred'] = model.predict(test['x'])

print('Train error', mean_squared_error(train['y'], train['pred']))
print('Test error', mean_squared_error(test['y'], test['pred']))

Train error 0.0753432238021
Test error 0.155551976689

In [7]:
tmp_df = pd.DataFrame()
tmp_df['y'] = test['y']
tmp_df['pred'] = test['pred']

In [8]:
dima_drink_df = pd.read_csv('./train-embedding/dima_drink.csv', header=None)
dima_drink_df

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,-0.061841,0.137985,0.100331,-0.100835,0.084029,0.169799,-0.038081,0.057994,-0.051805,-0.003714,...,0.060776,0.120232,0.002748,-0.020624,-0.043453,0.033686,0.059491,0.003029,0.052273,-0.018734

In [9]:
model.predict(dima_drink_df)

array([ 0.82490942])

In [10]:
dima_not_drink_df = pd.read_csv('./train-embedding/dima_not_drink.csv', header=None)
dima_not_drink_df

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0.03724,-0.094667,0.030205,-0.033487,0.034872,0.115102,-0.190567,0.011716,-0.128619,-0.101789,...,0.045036,0.168485,0.089637,-0.004015,0.019652,-0.04558,0.087051,-0.024257,0.249144,0.190036

In [11]:
model.predict(dima_not_drink_df)

array([ 0.56096935])

In [ ]:
bred_drink_df = pd.read_csv('./train-embedding/bred_drink.csv', header=None)
bred_drink_df

In [ ]:
model.predict(bred_drink_df)

In [ ]:
pasha_drink_df = pd.read_csv('./train-embedding/pasha_drink.csv', header=None)
pasha_drink_df

In [ ]:
model.predict(pasha_drink_df)